#bank-list {
	padding-left: 0!important;
    /* overflow-x: scroll; */
}

.item-content{
 	display: inline-flex;
  	flex-direction: row;
}

.list-item {
    position: relative;
    display: flex;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0!important;
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 4%;
}

#search-bar{
    background-color: #f0f0f0;
    border-radius: 7px!important;
    border-color: #f0f0f0;
    height: 100%!important;
    font-weight: 200;
}

#searchBarOuter{
    padding-bottom: 5%;
}